.onEmptyShow
{
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onShow
{
    background:url(../images/onShow.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(../images/onFocus.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(../images/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(../images/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}

/** addBy:luozhengjia wuyang 2011-6-22 */
.errorHint{
	height: 20px;
	line-height: 20px;
	font-weight: bold;
  	color: #EA5200;
  	padding-left:20px;
  	padding-top:6px;
  	width:250px;
  	background: url("../images/no.png") left 5px no-repeat;
}

.successHint{
	height: 25px;
	line-height: 25px;
	width:42px;
	padding-left:20px;
  	padding-top:6px;
	background: url("../images/success.gif") left 3px no-repeat;
}