body,html{background:#fff;}
.fl{ float:left;}
.fr{ float:right;}
.f_red{ color:red}
.none{ display:none}

/*qty_box*/
#detail .qty_box .qty_btn{ display:inline-block; width:30px; height:30px; text-align:center; line-height:30px; background:#CCC; color:#666666; border-radius:2px; font-size:18px; margin:4px; text-decoration:none}
#detail .qty_box .qty_txt{ width:50px; height:30px; line-height:30px;border-radius:2px; padding-left:5px; margin-top:3px;font-size:14px;color:#666666;}
#detail .pro_img{padding:5px; background:#fff1e0;}
#detail .cart_item{ padding: 5px 10px;}
#detail .cart_item .lbar{min-height:24px; line-height:24px; font-size:14px}
#detail .cart_item .qty_lable{ line-height:40px;}
#detail .cart_item .stock{line-height:40px;}
#detail .cart_item .rbar{ margin-left:10px}
#detail .touchslider{position:relative;}
#detail .touchslider .img{width:280px; height:200px; margin:0 auto;}
#detail .touchslider .img .touchslider-prev, #detail .touchslider .img .touchslider-next{float:left; width:40px; margin-top:93px;}
#detail .touchslider .img .touchslider-prev span{background:url(../images/bg.png) -13px -110px no-repeat; display:block; width:12px; height:14px; margin:0 auto;}
#detail .touchslider .img .touchslider-next span{background:url(../images/bg.png) 0 -110px no-repeat; display:block; width:12px; height:14px; margin:0 auto;}
#detail .touchslider .touchslider-viewport{background:#fff1e0; width:200px; height:100%; overflow:hidden; float:left;}
#detail .touchslider .touchslider-viewport .list{width:10000px; height:100%;}
#detail .touchslider .touchslider-viewport .touchslider-item{width:200px; height:100%; overflow:hidden; background:#fff; text-align:center;}
#detail .touchslider .touchslider-viewport .touchslider-item img{width:100%;}
#detail .touchslider .touchslider-nav{width:100%; position:absolute; top:182px; text-align:center;}
#detail .touchslider .touchslider-nav .touchslider-nav-item{width:8px; height:8px; background:#666; margin:0 1px; display:inline-block; border-radius:6px;}
#detail .touchslider .touchslider-nav .touchslider-nav-item-current{background:#cff0ff;}
#detail .info{padding:0px 10px;border-bottom:1px solid #ddd;}
#detail .info li{height:24px; line-height:24px; overflow:hidden;}
#detail .info li.price span{color:#C62E3A; font-weight:bold;}
#detail .info li.price del{color:#888; margin-left:8px;}
#detail .info li.qty{height:auto; padding:5px 0;}
#detail .info li.qty select{height:24px; border:1px solid #ddd; border-radius:5px; background:#fff; width:50px;}
#detail .info li.property{height:auto; padding-top:4px;}
#detail .info li.property table{border-collapse:collapse; border-spacing:0;}
#detail .info li.property td{vertical-align:top; padding:0;}
#detail .info li.property span{border:1px solid #ddd; padding:0 10px; margin:2px 5px 4px 0; height:24px; line-height:24px; overflow:hidden; display:inline-block; background:#fff;}
#detail .info li.property span.cur{border:1px solid red; background:#fff1e0;}
#detail .info li.cart{height:38px; padding:5px 0; text-align:center;}
#detail .info li.cart input{width:45%; height:36px; margin:0 5px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background-color:#FEAC00; font-size:16px; border:1px solid #F57F01; background-image:linear-gradient(bottom, #FE7002 0, #FEAC00 100%); background-image:-moz-linear-gradient(bottom, #FE7002 0, #FEAC00 100%); background-image:-webkit-linear-gradient(bottom, #FE7002 0, #FEAC00 100%); box-shadow:0 1px 0 #FEBE3A inset, 0 1px 2px rgba(0,0,0,0.5); border-radius:5px; color:#fff; text-shadow:0 1px rgba(0,0,0,0.2);}
#detail .info li.cart input.buy{background-color:#F00019; border:1px solid #c10001; background-image:linear-gradient(bottom, #E20018 0, #DC3749 100%); background-image:-moz-linear-gradient(bottom, #E20018 0, #DC3749 100%);background-image:-webkit-linear-gradient(bottom, #E20018 0, #DC3749 100%); box-shadow:0 1px 0 #D95260 inset, 0 1px 2px rgba(0,0,0,0.5);}
#detail .info li.cart .unable{background-color:#CCC; }


#detail #addtocart_tips{width:250px; height:125px; position:fixed; background:#f7f7f7; border:1px solid #ddd; border-radius:5px; box-shadow:0 1px 0 #fff inset, 0 1px 2px rgba(0,0,0,0.5); display:none; left:0; top:0; z-index:1000}
#detail #addtocart_tips .close{position:absolute; left:227px; top:3px; width:20px; height:20px; line-height:20px; background:#ddd; text-align:center; color:#aaa;}
#detail #addtocart_tips .txt{padding:20px 10px; line-height:150%;}
#detail #addtocart_tips .txt strong{color:#ff6600; font-size:16px;}
#detail #addtocart_tips .txt span{font-weight:bold; color:#ff0000;}
#detail #addtocart_tips .txt a{color:#ff0000; text-decoration:underline;}

/*review*/
#review{ width:98%; margin:0 auto}
#review .review_t{ color:black; margin-bottom:5px; font-weight:bold}
#review .items{ border:1px solid #d0d0d0; padding:10px;border-radius:5px; margin-bottom:5px}
#review .items .lbar{ width:15%;float:left;}
#review .items .lbar .face{ width:40px; height:40px; overflow:hidden; border:1px solid #dd9aab; margin:auto}
#review .items .lbar .face img{ width:40px; height:40px}
#review .items .lbar .name{ text-align:center; color:#eda8bb; line-height:25px; }
#review .items .rbar{ overflow:hidden; width:80%; float:right; border-radius:5px; background-color:#f3f3f3; min-height:22px; padding:8px 5px 0 5px; line-height:20px;min-height:50px; color:#666666}
#review .items .reply{width:80%; float:right;background-color:#f3f3f3; padding:5px; margin:5px 0 0 0;}
#review .items *{color:#666666}
#review .items .reply span{ font-weight:bold;}
#review .review_more a{text-decoration: underline;color: #FF0000;}
/*write_review*/
#write_review .mar_t8{ margin-top:8px}
#write_review .mar_t5{ margin-top:5px}
#write_review{width:98%; margin:10px auto;}
#write_review .cont{border:1px solid #d0d0d0; padding:10px 0px;border-radius:5px;}
#write_review .lbar{ float:left; width:14%; margin-left:10px;}
#write_review .lbar .items{ width:100%; margin:0px 0 10px 0px}
#write_review .lbar .items .input{ text-align:center; color:#e2b3bd; margin-bottom:5px}
#write_review .lbar .items .face{width:40px; height:40px; margin:0 auto; overflow:hidden; border:1px solid #dd9aab;}
#write_review .lbar .face img{ width:40px; height:40px}

#write_review .rbar{  width:98%; margin:0 auto}
#write_review .rbar .row{ width:100%; text-align:center}
#write_review .input_text{ width:99%;height:30px; border:1px solid #dbdbdb;border-radius:5px; line-height:30px}
#write_review .input_txtarea{width:99%;border-radius:5px;border:1px solid #dbdbdb; height:90px; line-height:20px}
#write_review .btn{ text-align:right}
#write_review .btn input[type="submit"]{ background-color: #FEAC00;border:1px solid #F57F01;border-radius:5px; height:30px; line-height:30px; padding:0 30px; color:#fff; box-shadow: 0 1px 0 #FEBE3A inset, 0 1px 2px rgba(0, 0, 0, 0.5);text-shadow: 0 1px rgba(0, 0, 0, 0.2);}

.product_back{ padding:5px}

#showtime{ height:230px; width:100%; position:relative;overflow:hidden; z-index:1; background:#f3f3f3;}
#showtime ul{ position:absolute;top:5px; z-index:1;}
#showtime li{ width:220px; height:220px; float:left; text-align:center; margin-right:5px; overflow:hidden;}
#showtime li img{ width:220px;}
#gogo_nav{ position:absolute; top:200px; z-index:2; left:0px; height:14px; padding:0px 3px;}
#gogo_nav .bg{background:black; opacity:0.6; position:absolute; z-index:1; left:0; top:0; width:100%; height:14px; overflow:hidden;border-radius:10px;}
#gogo_nav .cont{ width:100%; height:14px; overflow:hidden; line-height:12px; position:absolute; z-index:2;left:0; top:0; text-align:center}
#gogo_nav .items{ display:inline-block; border-radius:5px; height:8px; width:8px; background:#bfbfbf; margin:0 3px}
#gogo_nav .i_on{ background:#fff}

/*desc_box*/
.desc_box{ width:100%; margin-top:5px; overflow:hidden}
.desc_box .desc_menu{ height:35px;border:1px solid #e7e7e7; border-left:0; border-right:0;width:100%; margin-bottom:5px}
.desc_box .desc_menu span{ display:inline-block; height:35px; line-height:35px; text-align:center; width:50%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.desc_box .r_bor{ border-right:1px solid #e7e7e7;}
.desc_box .desc_cont{ display:none; min-height:100px;}
.desc_box .contents{ padding:5px; padding-top:0px; display:block}
#detail .desc_box .contents *{ font:inherit; font-size:inherit; color:inherit}

/*cart_buy*/
#cart_buy{ width:100%; height:46px; overflow:hidden; position:fixed; bottom:0px; z-index:10; display:none}
#cart_buy .bg{background:black; opacity:0.6; position:absolute; z-index:1; left:0; top:0; width:100%; height:46px;}
#cart_buy .cont{ width:100%; height:43px; padding-top:3px; position:absolute; z-index:2}
#cart_buy .r_bor{ border-right:1px solid #fff}
#cart_buy a{ display:inline-block; width:49%;height:40px; line-height:40px; text-decoration:none; color:#fff; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; font-size:16px}
#cart_buy a.add{ background:url(../images/cart_icon_oth.png) 25px center no-repeat; background-size:25px auto; padding-left:55px;}
#cart_buy a.buy{ background:url(../images/buy_icon.png) 35px center no-repeat;background-size:25px auto; padding-left:65px;}
